:root {
    --background-color: #e5eae6;
    --element-background-color: #f4f8f7;
    --main-white-color: #fdfdfd;
    --main-blue-color: #2f72c6;
    --main-gray-color: #8d9093;
    --dark-gray-color: #6e6e6e;
    --main-black-color: #171717;
    --main-dark-green-color: #319a20;
    --main-light-green-color: #e6f7e4;
    --main-dark-red-color: #d93244;
    --main-light-red-color: #fdeded;
    --main-yellow-color: #d4c064;
}